# Advance in Python - Part 1 (Data Structures in Python - List)

### List is a collection of items which is ordered and changeable. It can store heterogeneous data type.

#### Topics
1. Data Structures in Python - List
   - List declaration
   - List iteration while/for loop
   - Add element to list using append(), insert(), extend()
   - Deleting from list using del, remove(), pop()
   - Operations on List: Sum/Average, Min/Max, Sort, Merge, Search
   - Generate a list of random numbers, random strings 
   - Nested List
   - Use of copy() function

##### Note: 
1. First Clean the Evironment (Go to "Kernel" Menu --> "Restart & Clean Output"
2. To execute the code --> Click on a cell and press cntrl + enter key

## 1: Data Structure - List

### 1.1: List declaration

In [1]:
#------------------------------------------------------------------------
# 1.1: List declaration
#------------------------------------------------------------------------
# Method 1
L = ["Varun", 'Kumar', 3.14, 3]

print ("L                  -->", L)
print ("Number of elements -->", len(L))
print ("Type of Object     -->", type(L))

L                  --> ['Varun', 'Kumar', 3.14, 3]
Number of elements --> 4
Type of Object     --> <class 'list'>

In [2]:
# Method 2
L = list(["Varun", 'Kumar', 3.14, 3]) 
#L = list(("Pratham", 'Sharma', 3.14, 3)) # Also works 

print ("L                  -->", L)
print ("Number of elements -->", len(L))
print ("Type of Object     -->", type(L))

L                  --> ['Varun', 'Kumar', 3.14, 3]
Number of elements --> 4
Type of Object     --> <class 'list'>

### 1.2: List iteration using while loop

In [3]:
#------------------------------------------------------------------------
# 1.2: List iteration using while loop
#------------------------------------------------------------------------
L = ["Varun", 'Kumar', 3.14, 3]
print ("L -->", L)

print ("")
i = 0
while i < len(L): 
    print (L[i])
    i += 1

L --> ['Varun', 'Kumar', 3.14, 3]

Varun
Kumar
3.14
3

### 1.3: List iteration using for loop

In [4]:
#------------------------------------------------------------------------
# 1.3: List iteration using for loop
#------------------------------------------------------------------------
L = ["Pratham", 'Sharma', 3.14, 3]
print ("L -->", L)

print ("")
for i in range(0, len(L)): 
    print (L[i])

L --> ['Pratham', 'Sharma', 3.14, 3]

Pratham
Sharma
3.14
3

### 1.4: List iteration using for loop

In [5]:
#------------------------------------------------------------------------
# 1.4: List iteration using for loop
#------------------------------------------------------------------------
L = ["Varun", 'Kumar', 3.14, 3]
print ("L -->", L)

print ("")
for s in L:
    print (s)

L --> ['Varun', 'Kumar', 3.14, 3]

Varun
Kumar
3.14
3

### 1.5: Accessing/Selecting List item

In [6]:
#------------------------------------------------------------------------
# 1.5: Accessing/Selecting List item
#------------------------------------------------------------------------
# Example 1
L = [3, 6, 9, 12, 5, 3, 2]
print ("L     -->", L)

print ("")
print ("L[1]  -->", L[1])
print ("L[2]  -->", L[2])
print ("L[-1] -->", L[-1]) #Last element
print ("L[-2] -->", L[-2])

L     --> [3, 6, 9, 12, 5, 3, 2]

L[1]  --> 6
L[2]  --> 9
L[-1] --> 2
L[-2] --> 3

In [7]:
# Example 2
L = [3, 6, 9, 12, 5, 3, 2]
print ("L        -->", L)

print ("")
print ("L[1:3]   -->",L[1:3])
print ("L[2:]    -->",L[2:])   #upto end of the list
print ("L[2:5]   -->",L[2:5]) 
print ("L[:2]    -->",L[:2])
print ("L[:-1]   -->",L[:-1])
print ("L[-4:-1] -->",L[-4:-1])  # excluding -1

L        --> [3, 6, 9, 12, 5, 3, 2]

L[1:3]   --> [6, 9]
L[2:]    --> [9, 12, 5, 3, 2]
L[2:5]   --> [9, 12, 5]
L[:2]    --> [3, 6]
L[:-1]   --> [3, 6, 9, 12, 5, 3]
L[-4:-1] --> [12, 5, 3]

In [8]:
# Example 3
L = [3, 6, 9, 12, 5, 3, 2]
print ("L        -->", L)

print ("")
print ("L[::1]   -->", L[::1])        # No change
print ("L[::-1]  -->", L[::-1])       # Reverse
print ("L[::-2]  -->", L[::-2])
print ("L[::2]   -->", L[::2])

L        --> [3, 6, 9, 12, 5, 3, 2]

L[::1]   --> [3, 6, 9, 12, 5, 3, 2]
L[::-1]  --> [2, 3, 5, 12, 9, 6, 3]
L[::-2]  --> [2, 5, 9, 3]
L[::2]   --> [3, 9, 5, 2]

### 1.6: Add element to list using append()

In [9]:
#------------------------------------------------------------------------
# 1.6: Adding element to list using append()
#------------------------------------------------------------------------
L =["Varun", 'Kumar', 3.14, 3]
print ("L -->", L)

print ("")
L.append("Sonal")                 # Add element at last
print ('After Adding "Rahul" -->', L)

L.append("Singh")                 # Add element at last
print ('After Adding "Anmol" -->', L)

L --> ['Varun', 'Kumar', 3.14, 3]

After Adding "Rahul" --> ['Varun', 'Kumar', 3.14, 3, 'Sonal']
After Adding "Anmol" --> ['Varun', 'Kumar', 3.14, 3, 'Sonal', 'Singh']

### 1.7: Inserting element in list using insert()

In [10]:
#------------------------------------------------------------------------
# 1.7: Inserting element in list using insert()
#------------------------------------------------------------------------
L = ["Varun", 'Kumar', 3.14, 3]
print ("L -->", L)

print ("")
L.insert(2, "Rahul")                        # Insert element at 2
print ("After Insertion 'Rahul'   -->", L)

L.insert(len(L), "Thapar")                  # Insert element at last
print ("After Insertion 'Thapar'  -->", L)           

L.insert(-1, "SIH")                         # Insert element at -1  
print ("After Insertion 'SIH'     -->", L)           

L.insert(10, "Sanchit")                     # No error; Element will be added at last
print ("After Insertion 'Sanchit' -->", L)

L --> ['Varun', 'Kumar', 3.14, 3]

After Insertion 'Rahul'   --> ['Varun', 'Kumar', 'Rahul', 3.14, 3]
After Insertion 'Thapar'  --> ['Varun', 'Kumar', 'Rahul', 3.14, 3, 'Thapar']
After Insertion 'SIH'     --> ['Varun', 'Kumar', 'Rahul', 3.14, 3, 'SIH', 'Thapar']
After Insertion 'Sanchit' --> ['Varun', 'Kumar', 'Rahul', 3.14, 3, 'SIH', 'Thapar', 'Sanchit']

### 1.8: Add multiple elements to list using extend()
The .append() method increases the length of the list by one, so if you want to add only one element to the list, you can use this method.
The .extend() method increases the length of the list by the number of elements that are provided to the method, so if you want to add multiple elements to the list, you can use this method.

In [11]:
#------------------------------------------------------------------------
# 1.8: Add multiple elements to list using extend()
#------------------------------------------------------------------------
# Example 1
L = ["Varun", 'Kumar', 3.14, 3]
print ("L -->", L)

print ("")
L.extend("Rahul")                          # Add element at last
print ("After Adding 'Rahul' -->", L)

L --> ['Varun', 'Kumar', 3.14, 3]

After Adding 'Rahul' --> ['Varun', 'Kumar', 3.14, 3, 'R', 'a', 'h', 'u', 'l']

In [12]:
# Example 2
L = ["Varun", 'Kumar', 3.14, 3]
print ("L -->", L)

print ("")
L.extend(["Rahul"])                        # Add element at last
print ("After Adding 'Rahul' -->", L)

L --> ['Varun', 'Kumar', 3.14, 3]

After Adding 'Rahul' --> ['Varun', 'Kumar', 3.14, 3, 'Rahul']

In [13]:
# Example 3
L = ["Varun", 'Kumar', 3.14, 3]
L1 = ["Rahul", "Thapar", 100, 200]
print ("L  -->", L)
print ("L1 -->", L1)

print ("")
L.extend(L1)    # Add element at last
print ("After Adding to L -->", L)

L  --> ['Varun', 'Kumar', 3.14, 3]
L1 --> ['Rahul', 'Thapar', 100, 200]

After Adding to L --> ['Varun', 'Kumar', 3.14, 3, 'Rahul', 'Thapar', 100, 200]

In [14]:
# Example 4
L = ["Varun", 'Kumar', 3.14, 3]
print ("L -->", L)

print ("")
L.extend(["Rahul", "Thapar", 100, 200])    # Add element at last
print ("After Adding L -->", L)

L --> ['Varun', 'Kumar', 3.14, 3]

After Adding L --> ['Varun', 'Kumar', 3.14, 3, 'Rahul', 'Thapar', 100, 200]

### 1.9: Deleting item from list using del

In [15]:
#------------------------------------------------------------------------
# 1.9: Deleting item from list using del
#------------------------------------------------------------------------
L = ["Varun", 'Kumar', 3.14, 3, 6, 7, 8]
print ("L                   -->", L)

del L[1]                                # Delete element at 1
print ("Delete element at 1 -->", L)

del L[1]                                # Delete element at 1
print ("Delete element at 1 -->", L)

del L[-1]                               # Delete last element
print ("Delete element at -1-->", L)

del L[15]                               # Error; index out of range; Exception should me handle
print ("Delete element at 15 -->", L)


# Multiple elements cannot be remove using del

L                   --> ['Varun', 'Kumar', 3.14, 3, 6, 7, 8]
Delete element at 1 --> ['Varun', 3.14, 3, 6, 7, 8]
Delete element at 1 --> ['Varun', 3, 6, 7, 8]
Delete element at -1--> ['Varun', 3, 6, 7]

IndexError: list assignment index out of range

### 1.10: Deleting from list using remove()

In [16]:
#------------------------------------------------------------------------
# 1.10: Deleting from list using remove() using value
#------------------------------------------------------------------------
L = ["Varun", 'Kumar', 3.14, 3, 6, 7, 8]
print ("L                -->", L)

L.remove(3)                             # Remove element 3
print ("Remove element 3 -->", L)

L.remove(6)                             # Remove element 6
print ("Remove element 6 -->", L)

L.remove(9)                             # Remove element 9 
print ("Delete element at 9 -->", L)    # Error; 9 is not present in L

# Multiple elements cannot be remove using remove

L                --> ['Varun', 'Kumar', 3.14, 3, 6, 7, 8]
Remove element 3 --> ['Varun', 'Kumar', 3.14, 6, 7, 8]
Remove element 6 --> ['Varun', 'Kumar', 3.14, 7, 8]

ValueError: list.remove(x): x not in list

### 1.11: Deleting from list using pop()

In [17]:
#------------------------------------------------------------------------
# 1.11: Deleting from list using pop()
#------------------------------------------------------------------------
# Pop: Delete last element from list

L = ['A', 'B', 'C', 'D']
print ("List           -->", L)

L.pop()                         # Delete last element
print ("1. After pop   -->", L)

L.pop(1)                        # Delete element of location 1
print ("2. After pop(1)-->", L)

L.pop()                         # Delete last element
print ("3. After pop   -->", L)

L.pop()                         # Delete last element
print ("4. After pop   -->", L)

L.pop()                         # Error; List is empty; Underflow
print ("5. After pop   -->", L)

#Note: If list is empty, pop() will raise an exception

List           --> ['A', 'B', 'C', 'D']
1. After pop   --> ['A', 'B', 'C']
2. After pop(1)--> ['A', 'C']
3. After pop   --> ['A']
4. After pop   --> []

IndexError: pop from empty list

### 1.12: Deleting list

In [18]:
#------------------------------------------------------------------------
# 1.12: Deleting list
#------------------------------------------------------------------------
# del is a keyword and remove(), pop() are in-built methods.
# The purpose of these three are same but the behavior is different
# remove() method delete values or object from the list using value 
# del and pop() deletes values or object from the list using an index.

L = ['A', 'B', 'C', 'D']
print ("List           -->", L)

del L                        # Delete List
print ("List           -->", L)

List           --> ['A', 'B', 'C', 'D']

NameError: name 'L' is not defined

### 1.13: Sum/Average of List

In [19]:
#------------------------------------------------------------------------
# 1.13: Sum/Average of List
#------------------------------------------------------------------------
L = [3, 6, 9, 12, 5, 3, 2]

print ("L       -->", L)
print ("Sum     -->", sum(L))
print ("Average -->", sum(L)/len(L))
print ("Average -->", sum(L)//len(L))

L       --> [3, 6, 9, 12, 5, 3, 2]
Sum     --> 40
Average --> 5.714285714285714
Average --> 5

### 1.14: Min/Max in the list

In [20]:
#------------------------------------------------------------------------
# 1.14: Min/Max in the list
#------------------------------------------------------------------------
# Example 1
L = [3, 6, 9, 12, 5, 3, 2]                # Integer List
print ("L   -->", L)
print ("Max -->", max(L))
print ("Min -->", min(L))

L   --> [3, 6, 9, 12, 5, 3, 2]
Max --> 12
Min --> 2

In [21]:
# Example 2
L = ["Ram", "Shyam", "Human", "Ant"]      # String List
print ("L   -->", L)
print ("Max -->", max(L))
print ("Min -->", min(L))

L   --> ['Ram', 'Shyam', 'Human', 'Ant']
Max --> Shyam
Min --> Ant

In [22]:
# Example 3
L = ["Ram", "Shyam", 10, 30]              # Mixed List
print ("L   -->", L)
print ("Max -->", max(L))                #Error; Exception should me handle
print ("Min -->", min(L))

## Assingment: Solve this issue

L   --> ['Ram', 'Shyam', 10, 30]

TypeError: '>' not supported between instances of 'int' and 'str'

### 1.15: Sort the of List using sort()

In [23]:
#------------------------------------------------------------------------
# 1.15: Sort the of List using sort()
#------------------------------------------------------------------------
#Example 1
L = [3, 6, 9, 12, 5, 3, 2]
print ("L                     -->", L)

L.sort()                       # Sort in asending order and save back to L
print ("After Sort (Asending) -->", L)

L                     --> [3, 6, 9, 12, 5, 3, 2]
After Sort (Asending) --> [2, 3, 3, 5, 6, 9, 12]

In [24]:
#Example 2
L = [3, 6, 9, 12, 5, 3, 2]
print ("L                     -->", L)

L.sort(reverse = True)         # Sort in decending order and save to L
print ("After Sort (Desending)-->", L)

L                     --> [3, 6, 9, 12, 5, 3, 2]
After Sort (Desending)--> [12, 9, 6, 5, 3, 3, 2]

### 1.16: Sort the of List using sorted()

In [25]:
#------------------------------------------------------------------------
# 1.16: Sort the of List using sorted()
#------------------------------------------------------------------------
# Example 1
L = [3, 6, 9, 12, 5, 3, 2]
print ("L               -->", L)

L1= sorted(L)                       # No Change in L
print ("After sorted()) -->", L)
print(L1)

L               --> [3, 6, 9, 12, 5, 3, 2]
After sorted()) --> [3, 6, 9, 12, 5, 3, 2]
[2, 3, 3, 5, 6, 9, 12]

In [26]:
# Example 2
L = [3, 6, 9, 12, 5, 3, 2]
print ("L               -->", L)

L = sorted(L,reverse = True)     # Sort in decending order and assign to L
print ("After sorted()) -->", L)

L               --> [3, 6, 9, 12, 5, 3, 2]
After sorted()) --> [12, 9, 6, 5, 3, 3, 2]

In [27]:
# Example 3
L = [3, 6, 9, 12, 5, 3, 2]
print ("L                  -->", L)

L1 = sorted(L)                     # Sort in assending order but No change in L
print ("L After sorted())  -->", L)
print ("L1 After sorted()) -->", L1)

L                  --> [3, 6, 9, 12, 5, 3, 2]
L After sorted())  --> [3, 6, 9, 12, 5, 3, 2]
L1 After sorted()) --> [2, 3, 3, 5, 6, 9, 12]

### 1.17: Multiply the List with a number

In [28]:
#------------------------------------------------------------------------
# 1.17: Multiply the List with a number
#------------------------------------------------------------------------
L = [3, 6, 9, 12, 5, 3, 2]
print ("L     -->", L)
print ("L * 1 -->", L * 1)
print ("L * 2 -->", L * 2)
print ("L * 3 -->", L * 3)
print ("L + L -->", L + L)
print ("L * L -->", L * L)       # Error; Exception should me handle

L     --> [3, 6, 9, 12, 5, 3, 2]
L * 1 --> [3, 6, 9, 12, 5, 3, 2]
L * 2 --> [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]
L * 3 --> [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]
L + L --> [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]

TypeError: can't multiply sequence by non-int of type 'list'

### 1.18: Increment the every element of List by n

In [29]:
#------------------------------------------------------------------------
# 1.18: Increment the every element of List by n
#------------------------------------------------------------------------
# Example 1
L1 = [3, 6, 9, 12, 5, 3, 2]
n = 10

L2 = []  #empty list
for i in L1:
    L2.append(i + n)

print ("L1 -->", L1)
print ("L2 -->", L2)

L1 --> [3, 6, 9, 12, 5, 3, 2]
L2 --> [13, 16, 19, 22, 15, 13, 12]

In [30]:
# Example 2
L1 = [3, 6, 9, 12, 5, 3, 2]
n = 10

L2 = []    # Optional

L2 = [ i + n for i in L1]     # L2 is re-initialized

print ("L1 -->", L1)
print ("L2 -->", L2)

L1 --> [3, 6, 9, 12, 5, 3, 2]
L2 --> [13, 16, 19, 22, 15, 13, 12]

### 1.19: Multiply the every element of List by n

In [31]:
#------------------------------------------------------------------------
# 1.19: Multiply the every element of List by n
#------------------------------------------------------------------------
# Example 1
L = [3, 6, 9, 12, 5, 3, 2]
n = 10

L1 = []     # Must be declare

for i in L:
    L1.append(i * n)

print ("L  -->", L)
print ("L1 -->", L1)

L  --> [3, 6, 9, 12, 5, 3, 2]
L1 --> [30, 60, 90, 120, 50, 30, 20]

In [32]:
# Example 2
L = [3, 6, 9, 12, 5, 3, 2]
n = 10

L1 = []         # Optional

L1 = [ i * n for i in L]      # L1 is re-initialized

print ("")
print ("L  -->", L)
print ("L1 -->", L1)

L  --> [3, 6, 9, 12, 5, 3, 2]
L1 --> [30, 60, 90, 120, 50, 30, 20]

### 1.20: Generate a list of n random numbers between 1, 100

In [33]:
#------------------------------------------------------------------------
# 1.20: Generate a list of n random numbers between 1, 100
#------------------------------------------------------------------------
# Example 1
import random as r   #alias name
#random is a package

n = 10
L = []               # Must be declare
for i in range(n):
    L.append(r.randint(1,100))
    
print ("L -->", L)

L --> [72, 16, 45, 82, 96, 63, 40, 71, 6, 53]

In [34]:
# Example 2
import random as r

n = 8
L = []            # Optional
L = [ r.randint(1,100) for i in range(n)]

print ("L -->", L)

L --> [70, 64, 67, 41, 76, 40, 87, 16]

### 1.21: Generate a list of n random strings of length m

In [35]:
#------------------------------------------------------------------------
# 1.21: Generate a list of n random strings of length m
#------------------------------------------------------------------------
# Example 1
import random as r
import string as s #string is another module

n = 10
m = 5

L = []         # Must be declare
for i in range(n):
    L.append("".join(r.sample(s.ascii_letters, m)))
    
print ("L -->", L)

L --> ['QPMoK', 'ykNiT', 'sdEkc', 'zYAiy', 'FVtgv', 'fHuhR', 'mcaSb', 'ABbdg', 'eNUDI', 'vsnLx']

In [36]:
# Example 2
import random as r
import string as s

n = 10
m = 5

L = []          # Optional
L = [ "".join(r.sample(s.ascii_letters, m)) for i in range(n)]

print ("L -->", L)

L --> ['eZWoC', 'nrDdl', 'wBDio', 'heKZc', 'qWrvN', 'uWjMF', 'zXQni', 'piLFn', 'KrCTN', 'VINYL']

### 1.22: Generate a list of n random strings of variable length (5, 10)

In [37]:
#------------------------------------------------------------------------
# 1.22: Generate a list of n random strings of variable length (5, 10)
#------------------------------------------------------------------------
# Example 1
import random as r
import string as s

n = 5

L = []         # Must be declare
for i in range(n): #upto 5 times
    L.append("".join(r.sample(s.ascii_letters, r.randint(5,10))))
    
print ("List -->", L)

List --> ['ZQkwHNTa', 'QMqcRV', 'rfudFMh', 'FvuHwGkEn', 'FwPuJRiYQs']

In [38]:
# Example 2
import random as r
import string as s

n = 5

L = []         # Optional
L = [ "".join(r.sample(s.ascii_letters, r.randint(5,10))) for i in range(n)]

print ("List -->", L)

List --> ['CwtMSR', 'KaRmQ', 'CMaFe', 'LNwKDEUjf', 'gvXJRZ']

### 1.23: Searching in the list

In [39]:
#------------------------------------------------------------------------
# 1.23: Searching in the list
#------------------------------------------------------------------------
L = [3, 6, 9, 12, 5, 3, 2]
print ("L       -->", L)

print ("")
print ("6  in L -->", 6 in L)  #item in List name
print ("10 in L -->", 10 in L)
print ("12 in L -->", 12 in L)

L       --> [3, 6, 9, 12, 5, 3, 2]

6  in L --> True
10 in L --> False
12 in L --> True

### 1.24: Merging lists

In [40]:
#------------------------------------------------------------------------
# 1.24: Merging lists
#------------------------------------------------------------------------
L1 = [3, 6, 9]
L2 = [12, 5, 3, 2]

print ("L1 -->", L1)
print ("L2 -->", L2)

L3 = L1 + L2
print ("L3 -->", L3)

L4 = L1 + L2 + L1 + L2
print ("L4 -->", L4)

L1 --> [3, 6, 9]
L2 --> [12, 5, 3, 2]
L3 --> [3, 6, 9, 12, 5, 3, 2]
L4 --> [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]

### 1.25: Merging part of lists

In [41]:
#------------------------------------------------------------------------
# 1.25: Merging part of lists
#------------------------------------------------------------------------
L1 = [3, 6, 9]
L2 = [12, 5, 3, 2]

print ("L1 -->", L1)
print ("L2 -->", L2)

L3 = L1[1:2] + L2[1:3]    #you can use slicing in merging the list
print ("L3 -->", L3)

L4 = L1[:-2] + L2[:-3]
print ("L4 -->", L4)

L1 --> [3, 6, 9]
L2 --> [12, 5, 3, 2]
L3 --> [6, 5, 3]
L4 --> [3, 12]

### 1.26: Get the index of an elements in List

In [42]:
#------------------------------------------------------------------------
# 1.26: Get the index of an elements in List
#------------------------------------------------------------------------
L = [3, 6, 9, 12, 5, 3, 2]
print ("L               -->", L)

print ("")
print ("Index of 9 in L -->", L.index(9))
print ("Index of 2 in L -->", L.index(2))
print ("Index of 5 in L -->", L.index(5))
print ("Index of 7 in L -->", L.index(7))        # Error; 7 is not is List

L               --> [3, 6, 9, 12, 5, 3, 2]

Index of 9 in L --> 2
Index of 2 in L --> 6
Index of 5 in L --> 4

ValueError: 7 is not in list

### 1.27: Count element in List

In [43]:
#------------------------------------------------------------------------
# 1.27: Count element in List
#------------------------------------------------------------------------
L = [3, 6, 9, 6, 5, 3, 2]
print ("L     -->", L)

print ("")
print ("L.count(3) -->", L.count(3))
print ("L.count(2) -->", L.count(2))
print ("L.count(5) -->", L.count(5))
print ("L.count(4) -->", L.count(4))

L     --> [3, 6, 9, 6, 5, 3, 2]

L.count(3) --> 2
L.count(2) --> 1
L.count(5) --> 1
L.count(4) --> 0

### 1.28: Reverse the List

In [44]:
#------------------------------------------------------------------------
# 1.28: Reverse the List
#------------------------------------------------------------------------
# Example 1
L = [3, 6, 9, 6, 5, 3, 2]
print ("L               -->", L)

L.reverse()                         # List L is also reverse
print ("L after reverse -->", L)

L               --> [3, 6, 9, 6, 5, 3, 2]
L after reverse --> [2, 3, 5, 6, 9, 6, 3]

In [45]:
# Example 2
L = [3, 6, 9, 6, 5, 3, 2]
print ("L                     -->", L)

print ("Reverse L (for print) -->", L[::-1])

L = L[::-1]
print ("L after reverse       -->", L)

L                     --> [3, 6, 9, 6, 5, 3, 2]
Reverse L (for print) --> [2, 3, 5, 6, 9, 6, 3]
L after reverse       --> [2, 3, 5, 6, 9, 6, 3]

### 1.29: Nested List - List in List

In [46]:
#------------------------------------------------------------------------
# 1.29: Nested List - List in List
#------------------------------------------------------------------------
L = [3, [10,20,30], 9, [12, 5, 3, 2],"Ram"]
print ("L        -->", L)

print ("")
print ("L[1]     -->", L[1])
print ("L[1][1]  -->", L[1][1])
print ("L[-2]    -->", L[-2])
print ("L[-2][-1]-->", L[-2][-1])
print ("L[-1]    -->", L[-1])
print ("L[-1][1] -->", L[-1][1])

L        --> [3, [10, 20, 30], 9, [12, 5, 3, 2], 'Ram']

L[1]     --> [10, 20, 30]
L[1][1]  --> 20
L[-2]    --> [12, 5, 3, 2]
L[-2][-1]--> 2
L[-1]    --> Ram
L[-1][1] --> a

### 1.30: Nested List - Tuple in List

In [47]:
#------------------------------------------------------------------------
# 1.30: Nested List - Tuple in List
#------------------------------------------------------------------------
L = [3, (10,20,30), 9, (12, 5, 3, 2),"Ram"]
print ("L        -->", L)

print ("")
print ("L[1]     -->", L[1])
print ("L[1][1]  -->", L[1][1])
print ("L[-2]    -->", L[-2])
print ("L[-2][-1]-->", L[-2][-1])
print ("L[-1]    -->", L[-1])
print ("L[-1][1] -->", L[-1][1])

L        --> [3, (10, 20, 30), 9, (12, 5, 3, 2), 'Ram']

L[1]     --> (10, 20, 30)
L[1][1]  --> 20
L[-2]    --> (12, 5, 3, 2)
L[-2][-1]--> 2
L[-1]    --> Ram
L[-1][1] --> a

### 1.31: Use of copy() function - Version 1

In [48]:
#------------------------------------------------------------------------
# 1.31: Use of copy() function - Version 1
#------------------------------------------------------------------------
# Example 1
L = [4, 5, 2, 6, 7, 9, 8]
L1 = L                            # Pointing to the same memory location as L

L.sort()

print ("L  -->", L)
print ("L1 -->", L1)

L  --> [2, 4, 5, 6, 7, 8, 9]
L1 --> [2, 4, 5, 6, 7, 8, 9]

In [49]:
# Example 2
import copy  #copy module has copy method
L = [4, 5, 2, 6, 7, 9, 8]
L1 = copy.copy(L)                 # New memory is allocated
# L1 = list(L)                          # Also work fine

L.sort()

print ("L  -->", L)
print ("L1 -->", L1)

L  --> [2, 4, 5, 6, 7, 8, 9]
L1 --> [4, 5, 2, 6, 7, 9, 8]

### 1.32: Use of deepcopy() function - Version 2

In [50]:
#------------------------------------------------------------------------
# 1.32: Use of deepcopy() function - Version 2
#------------------------------------------------------------------------
# Example 1
L = [4, 5, 2, 6, 7, 9, 8]
L1 = L                            # Pointing to the same memory location as L

L[1] = 1000

print ("L  -->", L)
print ("L1 -->", L1)

L  --> [4, 1000, 2, 6, 7, 9, 8]
L1 --> [4, 1000, 2, 6, 7, 9, 8]

In [51]:
# Example 2
import copy
L = [4, 5, 2, 6, 7, 9, 8]
L1 = copy.copy(L)                       # Pointing to the same memory location as L
# L1 = list(L)                          # Also work fine

L[1] = 1000

print ("L  -->", L)
print ("L1 -->", L1)

L  --> [4, 1000, 2, 6, 7, 9, 8]
L1 --> [4, 5, 2, 6, 7, 9, 8]

In [52]:
colours1 = ["red", "green"]
colours2 = colours1 #No object is created
print(colours1)
print(colours2)
colours2[1] = "blue"
print(colours1)
print(colours2)

['red', 'green']
['red', 'green']
['red', 'blue']
['red', 'blue']

In [53]:
colours1 = ["red", "green"]
colours2 = colours1[:]
colours2[1] = "blue"
print(colours1)  # NO change in Colour1
print(colours2)

['red', 'green']
['red', 'blue']

In [54]:
lst1 = ['a','b',['ab','ba']]
lst2 = lst1[:]   #no photocopy is generated
print(lst1)
print(lst2)
lst2[0] = 'c'
lst2[2][1] = 'd'
print(lst1)
print(lst2)

['a', 'b', ['ab', 'ba']]
['a', 'b', ['ab', 'ba']]
['a', 'b', ['ab', 'd']]
['c', 'b', ['ab', 'd']]

In [55]:
from copy import deepcopy 
lst1 = ['a','b',['ab','ba']]
lst2 = deepcopy(lst1)  #deepcopy to create photocopy of an object
lst2[2][1] = "d"
lst2[0] = "c"
print(lst2)
print(lst1)

['c', 'b', ['ab', 'd']]
['a', 'b', ['ab', 'ba']]